<div class="container">
    <div class="cont-right">
        <div class="cont mt-4">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi rem magni nihil iusto ratione, autem
            commodi amet necessitatibus atque? Obcaecati deleniti molestias veniam libero tenetur excepturi modi saepe,
            ut nam?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi sit velit fugit ad amet veritatis earum
            dolore! Aspernatur, blanditiis! Esse reiciendis voluptates quibusdam magni fugit dicta, illum doloremque
            placeat iste.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, beatae fuga dicta minima minus aliquid sit
            tenetur officia sunt ut, a expedita exercitationem quaerat harum, saepe asperiores rerum laudantium
            consequatur.

        </div>
        <div class="tab ">
            <table>
                <tr>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Country</th>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Country</th>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Country</th>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Country</th>
                </tr>
                <tr>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    <td>Germany</td>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    <td>Germany</td>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    <td>Germany</td>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    <td>Germany</td>
                </tr>
                <tr>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                </tr>
            </table>
        </div>
        <div class="img mt-4">
           <!-- <input type="radio" id="img-1">
            <img src="/assets/med-1.jpeg" id="img-1" alt="HTML5 Icon" style="width:128px;height:128px;"> -->

            <input type="radio" id="img-1" name="med1">
            <label for="img-1"> <img src="/assets/med-1.jpeg" id="img-1" alt="HTML5 Icon" style="width:128px;height:128px;">
            </label>

            <input type="radio" id="img-2" name="med2">
            <label for="img-1"> <img src="/assets/med-2.jpg" id="img-2" alt="HTML5 Icon" style="width:128px;height:128px;">
            </label>

            <input type="radio" id="img-3" name="med3">
            <label for="img-1"> <img src="/assets/med-3.webp" id="img-3" alt="HTML5 Icon" style="width:128px;height:128px;">
            </label>

            <input type="radio" id="img-4" name="med4">
            <label for="img-4"> <img src="/assets/med-4.jpg" id="img-4" alt="HTML5 Icon" style="width:128px;height:128px;">
            </label>


            <input type="radio" id="img-5" name="med5">
            <label for="img-5"> <img src="/assets/med-5.jpg" id="img-5" alt="HTML5 Icon" style="width:128px;height:128px;">
            </label>

            <input type="radio" id="img-1" name="med6">
            <label for="img-6"> <img src="/assets/med-6.jpg" id="img-6" alt="HTML5 Icon" style="width:128px;height:128px;">
            </label>

            <input type="radio" id="img-7" name="med7">
            <label for="img-7"> <img src="/assets/med-7.webp" id="img-7" alt="HTML5 Icon" style="width:128px;height:128px;">
            </label>

            <input type="radio" id="img-8" name="med8">
            <label for="img-8"> <img src="/assets/med-8.jpg" id="img-8" alt="HTML5 Icon" style="width:128px;height:128px;">
            </label>

            
        </div>
    </div>
</div>