<h3 mat-dialog-title>Product Details</h3>
<div class="card-container">
<div mat-dialog-content class="modal-content">
  <mat-card class="modal-card">
    <mat-card-header class="product-image-wrapper">
      <img mat-card-image class="rounded-image" [src]="data.image" alt="{{ data.title }}" />
    </mat-card-header>
    <mat-card-content class="modal-body">
      <p>{{ data.description }}</p>
      <p>Price: ${{ data.price }}</p>
      <p>Rating: {{ data.rating.rate }} ({{ data.rating.count }} reviews)</p>
    </mat-card-content>
  </mat-card>
</div>
<mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Close</button>
</mat-dialog-actions>
</div>
